{% extends "drive/layout.html" %}

{% block body %}
    <div class="container-fluid min-vh-100 d-flex flex-column align-items-center justify-content-center p-3" style="background: black;">

        <div class="container">
            <div class="row justify-content-center">
                <form action="{% url 'login' %}" method="post" class="bg-dark p-4 rounded-3 col-lg-6 col-md-8 col-sm-10">
                    {% csrf_token %}
                    <h1 class="text-center mb-3">Login</h1>
                    {% if message %}
                        <div class="bg-danger rounded-3">
                            <p class="text-center py-1">{{ message }}</p>
                        </div>
                    {% endif %}
                    <div class="mb-3">
                        <input type="text" class="form-control" id="username" name="username" placeholder="Username" autofocus value="{{ username }}">
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                    </div>
                    <div class="mb-3 d-grid">
                        <input type="submit" value="Login" class="btn btn-outline-light">
                    </div>
                    <p class="text-center">Don't have an account? <a href="{% url 'register' %}" class="text-info">Register
                        here.</a></p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}