{% extends 'drive/layout.html' %}

{% load static %}
{% block body %}
    <div class="d-flex flex-column align-items-center justify-content-center p-3 flex-grow-1" style="background: black;">
        <div class="container">
            <div class="row justify-content-center">
                <form action="{% url 'manage_account' %}" method="post" class="bg-dark p-4 rounded-3 col-lg-6 col-md-8 col-sm-10">
                    {% csrf_token %}
                    {% if message %}
                        <div class="bg-danger rounded-3 p-1">
                            <p class="text-center m-0">{{ message }}</p>
                        </div>
                    {% endif %}
                    {% if errors %}
                        <div class="bg-danger rounded-3 p-1">
                            {% for error in errors %}
                                <p class="text-center m-0" style="font-size: 12px;">{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <h1 class="text-center my-3">Change Password</h1>
                    <div class="mb-3">
                        <input type="password" class="form-control pwd" id="current_password" name="current_password" placeholder="Current Password">
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control pwd" id="new_password" name="new_password" placeholder="New Password">
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control pwd" id="confirmation" name="confirmation" placeholder="Confirm New Password">
                    </div>
                    <div class="mb-3">
                        <label for="showPassword"></label>
                        <input type="checkbox" id="showPassword"> Show Password
                    </div>
                    <div class="mb-3 d-grid">
                        <input type="submit" value="Change Passoword" class="btn btn-outline-light">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="{% static 'drive/showPassword.js' %}"></script>
{% endblock %}